/*!headerAnimate*/
@keyframes TranSlateYanimate {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes TranSlateYanimate50 {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #162C4E;

}

.title {
    color: #838fa4;
    animation: TranSlateYanimate 1.4s ease-in-out;
}

.text {
    color: black;
    font-weight: 500;
    font-size: 16px;
    font-family: Courier, monospace;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    animation: TranSlateYanimate50 1s ease-in-out;
}

.timeWrapper {
    padding-top: 50px;
    font-size: 48px;
    font-weight: 700;
    animation: TranSlateYanimate50 1s ease-in-out;

    .time {
        font-size: 6rem;
        text-decoration: none;
        display: flex;
        list-style: none;

        @media(max-width: 767px) {
            font-size: 2.9rem;
        }
    }
}



.time li::after {
    content: ':';
    padding: 10px;
}

.time li:last-child::after {
    content: none;
    /* removing the colon after the last digit */
}


.dateWrapper {
    display: flex;
    gap: 28px;
    animation: TranSlateYanimate 1s ease-in-out;
}



@keyframes TranSlateYanimateDate {
    0% {
        opacity: 0;
        transform: translateY(350%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.date {
    position: relative;
    animation: TranSlateYanimateDate 1s ease-in-out;
}

.date p {
    margin-top: -35px;
    color: white;
    font-size: 13px;

    @media(max-width: 767px) {
        margin-top: -25px;
    }
}

.checkButton {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: TranSlateYanimateDate 1s ease-in-out;

    .Button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 33px;
        width: 220px;
        margin: auto;
        font-size: 16px;
        margin-top: 2rem;
        padding: 14px 15px;
        border-radius: 200px;
        background: #1D4169;
        color: white;
        border: #1D4169;



        &:hover {
            background: #315a89;
        }
    }
}