.container {
    position: relative;

}

.leftImage,
.rightImage {
    position: absolute;
    height: 302px;
    width: 366px;
}

@media screen and (max-width: 768px) {

    .leftImage,
    .rightImage {
        height: 200px;
        width: 250px;
    }
}

@media screen and (max-width: 480px) {

    .leftImage,
    .rightImage {
        height: 150px;
        width: 180px;
    }
}


/*!left */
@keyframes LeftAnimate {
    0% {
        opacity: 0;
        transform: translate(-100%, -100%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.leftImage {
    left: 0;
    animation: LeftAnimate 1.5s ease-in-out;
}

/*! right */
@keyframes RightAnimate {
    0% {
        opacity: 0;
        transform: translate(100%, -100%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.rightImage {
    right: 0;
    animation: RightAnimate 1.5s ease-in-out;
}

/*!headerAnimate*/
@keyframes TranSlateYanimate {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.headerContent {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerIcon {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-right: 11px;
}

@media (max-width: 768px) {

    .headerIcon {
        width: 40px;
        height: 40px;
    }
}

@media(max-width: 480px) {}

.headerText {
    text-align: right;
}

.headerTitle {
    color: #162C4E;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: -5px;
    animation: TranSlateYanimate 1.5s ease-in-out;
}

@media (max-width: 768px) {

    .headerTitle {
        font-size: 2rem;
    }
}

.headerSubtitle {
    color: #6b7280;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
    animation: TranSlateYanimate 1.5s ease-in-out;
}

@media (max-width: 768px) {

    .headerSubtitle {
        font-size: 8px;
    }
}